.location-block {
  margin-top: 60px;
}

.coordinates {
  margin: 5px 0;
  font-size: 15px;
  text-align: center;
}

.mapboxgl-map {
  border-radius: 7%;
}

.no-results {
  text-align: center;
  margin-bottom: 25px;
}