.location {
  font-size: 30px;
  text-transform: uppercase;
}

.weather-degree {
  font-size: 115px;
}

.feels-like-weather {
	font-size: 20px;
	margin-top: -28px;
}

.humidity {
	font-size: 17px;
	margin-top: -12px;
}

.text-weather {
	margin-left: 128px;
  margin-top: 10px;
}

.icon-weather {
	margin-left: 125px;
  margin-top: 14px;
  font-size: 42px;
}

.square {
	align-items: center;
	display: flex;
	height: 400px;
	justify-content: center;
	position: relative;
	width: 400px;
}

.square span {
	animation-iteration-count: infinite;
	animation-name: animate;
	animation-timing-function: linear;
	border: 2px solid #ffffff;
	border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: background-color 0.5s ease;
	width: 100%;
	z-index: 1;
}

.square:hover span,
.square:focus span,
.square:active span {
	background-color: rgba(255, 0, 0, 0.2);
	border-style: none;
}

.square span:nth-child(1) {
	animation-duration: 6s;
}

.square span:nth-child(2) {
	animation-duration: 4s;
}

.square span:nth-child(3) {
	animation-duration: 10s;
}

.square .content {
	color: #ffffff;
	padding: 40px 60px;
	position: relative;
	text-align: center;
	transition: 0.5s ease all;
	z-index: 2;
}

.square .content a {
	border: 2px solid #ffffff;
	border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
	color: #ffffff;
	display: inline-block;
	font-weight: 600;
	margin-top: 10px;
	padding: 6px 18px;
	position: relative;
	text-decoration: none;
	transition: background-color 0.3s ease,
							color 0.3s ease;
}

.square .content a:hover,
.square .content a:focus,
.square .content a:active {
	background-color: #ffffff;
	color: #333333;
}

@keyframes animate {
	to {
		transform: rotateZ(1turn);
	}
}

@media screen and (max-width: 540px) {
  .square {
		width: 230px;
		height: 230px;
		margin: 0 auto;
		margin-top: 33px;
	}

	.weather-degree {
		font-size: 45px;
		margin-top: -108px;
		margin-left: -35px;
	}

	.text-weather {
		font-size: 10px;
		margin-left: 170px;
	}

	.feels-like-weather {
		font-size: 13px;
		margin-left: -36px;
		margin-top: -8px;
	}

	.humidity {
		font-size: 13px;
		margin-left: -34px;
	}

	.icon-weather {
		margin-left: 168px;
	}
}